<div class="page-header"><h1>Add Page</h1></div>
signed in and ready to go
display users home page

selected Timetable = <%= current_user.selected_timetable_id %>

<br> selected name: <%= current_user.name %>