<div class="page-header"><h1>Welcome!</h1></div>
<div>
    <div>
        Teachers_PET is a resource for teachers to allow them to store lesson resources ready for use at a later point.
    </div>
    <div>
        You configure your timetable periods, set up when your classes are and who is in your class.
    </div>
    <div>
        You will then be able to view your timetable week by week, holidays can be added in, and individual lessons can be added, with resources attached.
    </div>

    <div>
        Each class can have pupils attached. You can also attach results of tests/homeworks etc to those pupils 
    </div>
    <div class="center" style="float: center; width: auto;"><%= button_to "Sign up", sign_up_url %></div>
</div>
