<h1>Settings</h1>

<div><%= render :template => 'timetables/index' %></div>

<br>

<div id="main-container" class="container">
  <div class ="row">
    <%= render :template => 'periods/index' %>
  </div>
</div>