
<h3>Timetables</h3>

<table>
  <thead>
    <tr>
      <th class="col-md-1"> </th>
      <th class="col-md-1">Year start</th>
      <th class="col-md-1">Year end</th>
      <th class="col-md-4">Name</th>
      <th class="col-md-3">School</th>
       <th class="col-md-2"> </th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <%= render timetable %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>